@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
body {
    font-family: 'DM Sans';
    background-color: black;
    color: white;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    font-optical-sizing: none;
}

h1 {
    font-weight: 400;
}

body::-webkit-scrollbar {
    display: none;
}

html::-webkit-scrollbar {
    display: none;
}

html {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}